@charset "utf-8";

/*-------------- reset css --------------*/
* {margin:0;padding:0;}
html, body{width: 100%; height: 100%;}
body,h1,h2,h3,h4,h5,h6,select,textarea,input,button,blockquote,th,td,caption,p,span,em,i,a {font:normal 16px/100% 'Noto Sans KR', sans-serif;line-height:1.5em;color:#1c1c1c;letter-spacing:-1px;-webkit-text-size-adjust:none;}
dl,ul,ol,li {list-style:none;}
iframe {margin:0;border:0;}
em,address,i {font-style:normal;}
img {vertical-align:top;border:0;}
table {width:100%;border:0;border-collapse:collapse;border-spacing:0;empty-cells:show;}
table caption {position:absolute;overflow:hidden;width:1px;height:0;font-size:0;line-height:0;}
a, a:link, a:visited {color:#707070;text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:none;}
fieldset {display:block;border:0;}
legend {overflow:hidden;width:1px;height:0;text-indent:-999999px;font-size:0;line-height:0;}
button {overflow:visible;cursor:pointer;border:0;background:transparent;}
hr {visibility:hidden;overflow:hidden;clear:both;height:0;}
select, input, textarea {vertical-align:middle;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea {-webkit-appearance:none;}
input[type="text"], input[type="password"], textarea, input[type="checkbox"], input[type="radio"] {width:100%;border:1px solid #ddd;background-color:#fff;box-sizing:border-box;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {border:1px solid #345dad;}
input[type="text"], input[type="password"] {height:40px;padding-left:17px;}
textarea {overflow:auto;padding:10px 17px;resize:none;}
select::-ms-expand {display:none;}
select:focus::-ms-value {color:inherit;background-color:transparent;}
hr {display:none;}
/* html5 Tag Block */
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}

.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
* html .clearfix {zoom:1;}
.blind {overflow:hidden;width:1px !important;height:0 !important;text-indent:-999999px;font-size:0 !important;line-height:0 !important;}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000; }

.header {position: fixed;left: 0;top: 0;z-index:100;width: 100%;background: #e69a9a;transition:top 0.5s ease;}
.header.hide {top:-85px;}
.header .header-inner {overflow:hidden;max-width: 1200px;margin: 0 auto;text-align: center;}
.header h1 {display: inline-block;padding-bottom:20px;line-height: 80px;font-size: 24px;color:#fff;}
.header h1 span {display: block;margin-top: -20px;padding-right: 14px;line-height: 0;font-size: 24px;color:#fff;text-align: right}
.header .nav .nav-item {display: inline-block;margin:0 30px;padding: 0 20px;line-height: 60px;color: #e0e0e0;font-size: 18px;font-weight: 500;}

main {padding-top:95px;}
.wrap {position: relative;width: 100%;max-width: 1200px;margin: 0px auto 0;padding: 60px;box-sizing: border-box;}

/* introduction */
#introduction {padding:100px 0;background:#f8f7f2;}    
#introduction h2 {font-size:37px;color:#1c1c1c;font-family: 'Black Han Sans', sans-serif;}
#introduction h2 span {font-size:24px;color:#ff0e0e;font-family: 'Black Han Sans', sans-serif;}
#introduction b {font-size:14px;color:#1c1c1c;}
#introduction .btn-view {position:relative;color:#ff0e0e;font-weight: bold;}
#introduction .btn-view .motion-arrow {position:absolute;top:-10px;right:-20px;font-size:20px;font-weight:bold;color: #ff0e0e;}

/* projects */
#projects {background:linear-gradient(-35deg, #e69a9a  50%, #f8f7f2 50%);}  
.card-wrap {position: relative;width: 100%;max-width: 900px;margin:0 auto;padding:30px 20px 50px;box-sizing: border-box;}
.card-list {position:relative;overflow:visible;max-width:900px;width:100%;height:300px;transition:1s ease;transform-style: preserve-3d;background-color: #fff;border-radius: 15px;box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.12);}
.card-list:not(:first-child) {margin-top:60px;}
.card-list.on h3:after {content:'';display:block;position: absolute;top:5px;right:-18px;width: 10px;height: 10px;border-radius: 50%;background: #ff0e0e;border: 2px solid #fff;}
.card {position: absolute;top: 0;left: 0;max-width:900px;width: 100%;height: 100%;text-align: center;box-sizing: border-box;}
.card.front  {display:flex;justify-content: center;padding:30px 20px;}
.card.front .card-img {float:left;max-width:300px;height:100%;overflow:hidden;}
.card.front .card-img img {width:100%;}
.card.front .card-body {display:flex;flex-flow: column;justify-content: center;width:calc(100% - 350px);margin-left:80px;}

.card-body h3 {position:relative;display: inline-block;margin-right: auto;font-size: 24px;font-weight: 700;text-align: left;}
.card-body h3 + p {margin-bottom:20px;color:#666;text-align: left;}
.card-body .detail {text-align:left;}
.card-body .detail li + li {margin-top:6px;}
.card-body .badge {position:absolute;right:50px;bottom:30px;}
.card-body .badge li {display:inline-block;padding:2px 5px;border-radius:3px;color:#ff0e0e ;font-size:13px;letter-spacing: 0.6px;line-height:15px;border: 1px solid #ff0e0e ;}

.card.back {position:relative;overflow:hidden;z-index:-1;height:300px;opacity: 0;transition:opacity 100ms ease-in 0s; transform:scale(1.05);border-radius: 15px;}
.card.back .card-img {position: absolute;top:0;left:0;width:100%;}
.card.back .card-img img {width:100%;}
.card.back .btn-wrap {position:absolute;right:70px;bottom:50px;}
.card.back .btn-wrap .btn-link {display:inline-flex;flex-flow: column;align-items: center;justify-content: center;width:80px;height:80px;margin:0 5px;color:#ff0e0e ;background:rgba(255,255,255,0.9);border:1px solid #ff0e0e ;font-size:14px;font-weight:bold;box-shadow: 4px 10px 15px rgba(0,0,0,.4);border-radius:50%;}
.card.back .btn-wrap .btn-link.off {color: #7d7d7d;background: ##dadada;border: 1px solid #464646;opacity: 0.4;}
.card.back .btn-wrap .btn-link span {font-size:12px;color:#333;}
.card.back .btn-wrap .btn-link:not(.off):hover {background:rgba(255,255,255,1);transform: scale(1.05);transition: all 0.5s;}

.card-list:nth-last-child(5) .card.back:hover .card-img {transition: 5s linear;transition-delay:0.4s;top:-1600px;}
.card-list:nth-last-child(4) .card.back:hover .card-img {transition: 10s linear;transition-delay:0.4s;top:-6000px;}
.card-list:nth-last-child(3) .card.back:hover .card-img {transition: 5s linear;transition-delay:0.4s;top:-1600px;}
.card-list:nth-last-child(2) .card.back:hover .card-img {transition: 2s linear;transition-delay:0.4s;top:-480px;}
.card-list:nth-last-child(1) .card.back:hover .card-img {transition: 5s linear;transition-delay:0.4s;top:-1600px;}

.card .reverse {flex-direction: row-reverse;}

/* profile */
#profile {background: linear-gradient(-15deg, #f8f7f2 50%, #e69a9a 50%);}
#profile .wrap {display: flex;justify-content: center;padding:200px 0;}
.profile-img {overflow: hidden;position:absolute;top:0;left:0;width:250px;height:250px;margin-right:50px;border-radius:50%;}
.profile-img img {width:100%;margin-top: -20px;}
.profile-cont {position:relative;overflow:hidden;padding-left:300px;}
.profile-cont .title {font-size: 16px;line-height: 18px;color: #181f41;}
.profile-list {float:left;padding-left:50px;}
.profile-list .list {overflow: hidden; padding-top: 2px;font-size: 14px;line-height: 26px;color: #6f6f6f;}


/* footer */
#footer{overflow: hidden;width: 100%;background-color: #585858;}
#footer .footer-wrap {position:relative;max-width: 1200px;margin: 60px auto;padding: 0 20px;}
#footer .info{display:flex;align-items:center;text-align:left;}
#footer .info .name {margin-right:15px;color: #b2bbc3;font-weight: 300;}
#footer .info span {color:#7c8186;font-weight: 300;}
#footer .copy {font-size: 14px;color: #7c8186; }
#footer .sns{position:absolute;top:0;right:20px;display: flex;}
.sns > a {display:inline-flex;align-items:center;justify-content: center;width:33px;height:33px;margin:0 5px;padding:5px;border-radius:50%;background:#dadada;}
.sns .ico-git {width:28px;height:28px;background-size:contain;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3ClinearGradient id='a' x1='4' x2='44' y1='23.508' y2='23.508' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c4c4c'/%3E%3Cstop offset='1' stop-color='%23343434'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M24 4C12.954 4 4 12.954 4 24c0 8.887 5.801 16.411 13.82 19.016h12.36C38.199 40.411 44 32.887 44 24c0-11.046-8.954-20-20-20z'/%3E%3Cpath d='M30.01 41.996L30 36.198c0-.939-.22-1.856-.642-2.687 5.641-1.133 8.386-4.468 8.386-10.177 0-2.255-.665-4.246-1.976-5.92.1-.317.174-.645.22-.981.188-1.369-.023-2.264-.193-2.984l-.027-.116c-.186-.796-.409-1.364-.418-1.388l-.111-.282-.111-.282-.302-.032-.303-.032s-.199-.021-.501-.021c-.419 0-1.04.042-1.627.241l-.196.066c-.74.249-1.439.485-2.417 1.069-.286.171-.599.366-.934.584-1.514-.375-3.143-.566-4.848-.566-1.722 0-3.365.192-4.889.571-.339-.22-.654-.417-.942-.589-.978-.584-1.677-.819-2.417-1.069l-.196-.066c-.585-.199-1.207-.241-1.626-.241-.302 0-.501.021-.501.021l-.302.032-.3.031-.112.281-.113.283c-.01.026-.233.594-.419 1.391l-.027.115c-.17.719-.381 1.615-.193 2.983.048.346.125.685.23 1.011-1.285 1.666-1.936 3.646-1.936 5.89 0 5.695 2.748 9.028 8.397 10.17-.194.388-.345.798-.452 1.224-.197.067-.378.112-.538.137-.238.036-.487.054-.739.054-.686 0-1.225-.134-1.435-.259-.313-.186-.872-.727-1.414-1.518-.463-.675-1.185-1.558-1.992-1.927-.698-.319-1.437-.502-2.029-.502-.138 0-.265.01-.376.028-.517.082-.949.366-1.184.78-.203.357-.235.773-.088 1.141.219.548.851.985 1.343 1.255.242.133.765.619 1.07 1.109.229.368.335.63.482.992.087.215.183.449.313.732.47 1.022 1.937 1.924 2.103 2.023.806.483 2.161.638 3.157.683l.123.003h.001c.24 0 .57-.023 1.004-.071v2.613c.002.529-.537.649-1.25.638l.547.184C19.395 43.572 21.645 44 24 44c2.355 0 4.605-.428 6.703-1.176l.703-.262c-.711-.024-1.39-.14-1.396-.566z' opacity='.05'/%3E%3Cpath d='M30.781 42.797c-.406.047-1.281-.109-1.281-.795v-5.804c0-1.094-.328-2.151-.936-3.052 5.915-.957 8.679-4.093 8.679-9.812 0-2.237-.686-4.194-2.039-5.822.137-.365.233-.75.288-1.147.175-1.276-.016-2.086-.184-2.801l-.027-.116c-.178-.761-.388-1.297-.397-1.319l-.111-.282-.303-.032s-.178-.019-.449-.019c-.381 0-.944.037-1.466.215l-.196.066c-.714.241-1.389.468-2.321 1.024-.332.198-.702.431-1.101.694-1.533-.401-3.192-.605-4.937-.605-1.762 0-3.435.205-4.979.61-.403-.265-.775-.499-1.109-.699-.932-.556-1.607-.784-2.321-1.024l-.196-.066c-.521-.177-1.085-.215-1.466-.215-.271 0-.449.019-.449.019l-.302.032-.113.283c-.009.022-.219.558-.397 1.319l-.027.116c-.169.715-.36 1.524-.184 2.8.056.407.156.801.298 1.174-1.327 1.62-1.999 3.567-1.999 5.795 0 5.703 2.766 8.838 8.686 9.806-.395.59-.671 1.255-.813 1.964-.33.13-.629.216-.891.256-.263.04-.537.06-.814.06-.69 0-1.353-.129-1.69-.329-.44-.261-1.057-.914-1.572-1.665-.35-.51-1.047-1.417-1.788-1.755-.635-.29-1.298-.457-1.821-.457-.11 0-.21.008-.298.022-.366.058-.668.252-.828.534-.128.224-.149.483-.059.708.179.448.842.85 1.119 1.002.335.184.919.744 1.254 1.284.251.404.37.697.521 1.067.085.209.178.437.304.712.331.719 1.353 1.472 1.905 1.803.754.452 2.154.578 2.922.612l.111.002c.299 0 .8-.045 1.495-.135v3.177c0 .779-.991.81-1.234.81-.031 0 .503.184.503.184C19.731 43.64 21.822 44 24 44s4.269-.36 6.231-1.003c0 0 .581-.204.55-.2z' opacity='.07'/%3E%3Cpath fill='%23fff' d='M36.744 23.334c0-2.31-.782-4.226-2.117-5.728.145-.325.296-.761.371-1.309.172-1.25-.031-2-.203-2.734s-.375-1.25-.375-1.25-.922-.094-1.703.172-1.453.469-2.422 1.047c-.453.27-.909.566-1.27.806-1.543-.428-3.24-.648-5.025-.648-1.801 0-3.513.221-5.067.652-.362-.241-.821-.539-1.277-.811-.969-.578-1.641-.781-2.422-1.047s-1.703-.172-1.703-.172-.203.516-.375 1.25-.375 1.484-.203 2.734c.077.562.233 1.006.382 1.333-1.31 1.493-2.078 3.397-2.078 5.704 0 5.983 3.232 8.714 9.121 9.435-.687.726-1.148 1.656-1.303 2.691-.387.17-.833.33-1.262.394-1.104.167-2.271 0-2.833-.333s-1.229-1.083-1.729-1.813c-.422-.616-1.031-1.331-1.583-1.583-.729-.333-1.438-.458-1.833-.396-.396.063-.583.354-.5.563.083.208.479.521.896.75.417.229 1.063.854 1.438 1.458.418.674.5 1.063.854 1.833.249.542 1.101 1.219 1.708 1.583.521.313 1.562.491 2.688.542.389.018 1.308-.096 2.083-.206v3.75c0 .639-.585 1.125-1.191 1.013 1.945.654 4.022.986 6.189.986 2.166 0 4.243-.332 6.19-.984-.605.111-1.19-.375-1.19-1.014v-5.804c0-1.329-.527-2.53-1.373-3.425 5.846-.702 9.117-3.368 9.117-9.439zm-25.505 9.393c-.154-.079-.237-.225-.185-.328.052-.103.22-.122.374-.043s.237.225.185.328-.22.122-.374.043zm1.212.755c-.081.088-.255.06-.389-.062s-.177-.293-.096-.381c.081-.088.255-.06.389.062s.177.293.096.381zm.754 1.25c-.102.072-.275.005-.386-.15s-.118-.34-.016-.412.275-.005.386.15c.11.155.118.34.016.412zm1.083.941c-.069.112-.265.117-.437.012s-.256-.281-.187-.393c.069-.112.265-.117.437-.012s.256.281.187.393zm1.024.921c-.213-.026-.371-.159-.353-.297.017-.138.204-.228.416-.202.213.026.371.159.353.297-.017.137-.203.228-.416.202zm1.651.239c-.227-.013-.404-.143-.395-.289.009-.146.2-.255.427-.242.227.013.404.143.395.289-.009.147-.2.255-.427.242zm1.558-.156c-.242 0-.438-.126-.438-.281s.196-.281.438-.281.438.126.438.281-.197.281-.438.281z'/%3E%3C/svg%3E");}
.sns .ico-mail {width:24px;height:24px;background-size:contain;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='350'%3E%3Cg stroke-miterlimit='10' fill='%231d1d1b'%3E%3Cpath d='M291.92949556 304.34637556h-237.64399c-31.00719 0-56.22995-25.22276-56.22995-56.22995v-150.02563c0-31.0033 25.22665-56.22995 56.22995-56.22995h237.64399c31.0033 0 56.22606 25.22665 56.22606 56.22995v150.02563c0 31.00719-25.22276 56.22995-56.22606 56.22995zm-237.64399-246.0425c-21.9396 0-39.78692 17.84732-39.78692 39.78692v150.02563c0 21.9396 17.84732 39.79081 39.78692 39.79081h237.64399c21.9396 0 39.78692-17.85121 39.78692-39.79081v-150.02563c0-21.9396-17.84732-39.78692-39.78692-39.78692h-237.64399z'/%3E%3Cpath d='M41.01671556 98.87268556c42.02756 40.95392 84.05512 81.90395 126.08268 122.85787 7.83446 7.63218 19.85845-4.36458 12.01232-12.01232-42.02756-40.95003-84.05512-81.90395-126.08268-122.85398-7.83446-7.63607-19.85845 4.36458-12.01232 12.00843z'/%3E%3Cpath d='M179.11171556 221.73055556c42.02756-40.95003 84.05512-81.90395 126.08268-122.85398 7.84224-7.64385-4.17397-19.64839-12.01232-12.01232-42.02756 40.95003-84.05512 81.90395-126.08268 122.85398-7.84224 7.64385 4.17397 19.64839 12.01232 12.01232z'/%3E%3Cpath d='M304.73148556 250.71883556c-27.96521-26.52202-55.93431-53.04015-83.89952-79.56217-7.93171-7.51937-19.96348 4.46961-12.01232 12.01232 27.96521 26.52202 55.93431 53.04015 83.89952 79.56217 7.93171 7.51937 19.96348-4.4735 12.01232-12.01232zM54.25049556 262.72726556c27.96521-26.52202 55.93431-53.04015 83.89952-79.56217 7.94727-7.53882-4.07672-19.53558-12.01232-12.01232-27.96521 26.52202-55.93431 53.04015-83.89952 79.56217-7.94727 7.53882 4.07672 19.53947 12.01232 12.01232z'/%3E%3C/g%3E%3C/svg%3E");}

#top {position:fixed;right:60px;bottom:65px;opacity:0;display:flex;width: 50px;height: 50px;align-items:center;justify-content: center;font-size: 30px;background: #e69a9a;border-radius: 50%;color: #fff;border: 1px solid #eaeaea;transition: all 1s;}
#top.show {opacity:1;}


/* motion */
.motion-arrow { animation: bounce 0.5s infinite ease-in-out;}

@-webkit-keyframes bounce {
  0%  { transform: translateY(0px);}
  30%  { transform: translateY(5px);}
  50% { transform: translateY(10px);}
  80% { transform: translateY(5px);}
  100%{ transform: translateY(0px);}
}

@media (min-width:740px){
  .card-list:not(.no-img):hover {height:500px;transform: scale(1.05) !important;transition: transform 0.2s;box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.3);}
  .card-list:not(.no-img):hover .back {height:500px;z-index: 2;opacity: 1;}
  .card-list:not(.no-img):hover:after {display:none;}

}
@media screen and (max-width: 739px){
  .wrap {padding:50px 20px;}
  .header .nav .nav-item {margin:0;}

  #introduction {padding: 50px 0;}
  .card-list {height:auto;}
  .card {position: inherit;}
  .card.front {display:block;flex:auto;height: auto;margin-left:0;}
  .card.front .card-img {float:none;display: block; width:100%;max-height:300px; margin: 0 auto;}
  .card.front .card-body {display:block;flex:auto;width:100%;margin-top:30px;margin-left:0;padding-bottom: 35px;text-align: left;}
  .card.back {display:none;}
  
  .about .left {float: none;width:100%;max-width: 350px;margin:0 auto;padding: 0 30px; box-sizing: border-box;}
  .about .right {float: none;width:100%;margin:30px 0 0;box-sizing: border-box;}
  .pc {width:100%;}
  .pc h3{margin-top: 60px;}
  .pc:nth-child(3):after,
  .pc:nth-child(4):after {width:85%;height:0;top: 4.6%;padding-bottom: 48%; background-size: cover;}

  #profile .wrap {padding: 100px 0;}
  .profile-img {position: inherit;margin: 0 auto 50px;}
  .profile-cont {padding-left:0;}

  #footer .footer-wrap {margin: 20px 0;padding:0 20px}
  #footer .sns {display:none;}
  
  #top {position:fixed;right:20px;bottom:20px;}
}